streamlit
tensorflow
pyyaml
numpy
Pillow
scikit-learn
matplotlib
pandas
opencv-python
tensorflow-hub
tensorflow-datasets
h5py
pytest
pytest-cov
flake8
black
isort
pre-commit
mypy
pydantic
albumentations
tqdm
ipykernel
